<!DOCTYPE html>
<html lang="en">
<head>
    <meta harset="UTF-8">
    <title>Price Alerts!</title>
    {% include 'html_dependencies.jinja2' %}

</head>

<body>
{% block content%}

{% endblock %}
</body>
</html>
