<!DOCTYPE html>
<html lang="en">
<head>
    <meta harset="UTF-8">
    <title>Price Alerts!</title>
    {% include 'html_dependencies.jinja2' %}

</head>

<body>
<nav class="navbar navbar default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" title="Home">Pricing</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/stores">Stores</a></li>
                <li><a href="/Alerts">Alerts</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register">Sign Up</a> </li>
                <li><a href="/login">Log In</a> </li>
            </ul>

        </div>

    </div>
</nav>
<div class="content container">
    {% block content%}

    {% endblock %}
</div>
</body>
</html>
