{% extends "base.jinja2" %}
{% block content%}
<div class="jumbotron">
    <h1 class="display-4">Online Pricing Alerts!</h1>
    <p class="lead">We scan price of online store items and send you emails when your desired price reaches.</p>
    <p>Sign up now!</p>
    <hr class="my-4">
    <p>It runs on Python</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('users.register_user') }}" role="button">Sign up</a>
</div>
{% endblock %}
