{% extends "base.jinja2" %}
{% block content%}
<div class="page-header">
    <h1>Alerts
        <small> showing existing alerts</small>
    </h1>
</div>


<div class="list-group">
    {% for alert in alerts %}
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Alert for {{alert.item.name }}</h4>
        <p class="list-group-item-text">Last price fond {{ alert.item.price }}</p>
    </a>
    {% endfor %}
</div>

{% endblock %}
