{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>
            Stores
            <small>list of supported stores</small>
        </h1>
    </div>
{% endblock %}
