{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>
            Stores
            <small>list of supported stores</small>
        </h1>
    </div>
    <div class="list-group">
        {% for store in stores %}
            <!--
            Display list of stores
            <a href = "#" class="List-group-item">
            <h4 class="list-group-item-title">Title</h4>
            <p class="list-group-item-text">Description</p>
            -->
        {% endfor %}
        <span>
            <a class="btn btn-success" href="{{ url_for('stores.create_store') }}">
            <i class="fa fa-plus" aria-hidden="true"> Create new store</i>
        </a>
        </span>

    </div>


{% endblock %}
